{% extends "base.html" %}
{% block title %}
  {% if form.instance.pk %}      
    Редактировать запись
  {% else %}  
    Добавить запись
  {% endif %}  
{% endblock %}
{% block content %}
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header"> 
                {% if form.instance.pk %}      
                  Редактировать запись
                {% else %}  
                  Добавить запись
                {% endif %}         
              </div>
              <div class="card-body"> 
                {% if is_edit %}
                <form method="post" action="{% url 'posts:post_edit' post.pk %}">
                {% else %}
                    <form method="post" action="{% url 'posts:post_create' %}">
                    {% endif %}
                  <input type="hidden" name="csrfmiddlewaretoken" value="">            
                  <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      Текст поста                  
                      <span class="required text-danger" >*</span>                  
                    </label>
                    {{ form.text }}     
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>                  
                  </div>   
                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Group                  
                    </label>
                      {{ form.group}}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}               
                    </button> 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %} 